<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel=" stylesheet" href="https://code.getmdl.io/1.3.0/material.green-red.min.css" />

<title><%= title %></title>