<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">

            <span class="mdl-layout-title"><%= title %></span>

            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">I-mpact</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/"><i class="material-icons">home</i> Accueil</a>
            <% if (loggedUser) { %>
            <a class="mdl-navigation__link" href="/recherche_defis"><i class="material-icons">search</i> Rechercher des
                défis</a>
            <a class="mdl-navigation__link" href="/profil"><i class="material-icons">person</i> Profil</a>
            <% } %>

            <% if (isAdmin) { %>
            <a class="mdl-navigation__link" href="/gestion_utilisateurs"><i class="material-icons">people</i> Gestion
                utilisateurs</a>
            <a class="mdl-navigation__link" href="/gestion_defis"><i class="material-icons">view_list</i> Gestion
                défis</a>
            <% } %>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">