<!DOCTYPE html>
<html lang="fr">

<head>
    <%include ../partials/head %>
</head>

<body>
    <%include ../partials/header %>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--middle">
            <div class="icon material-icons">person</div>
        </div>
    </div>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--middle">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                href="/inscription">
                S'inscrire
            </a>
        </div>
    </div>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--middle">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                href="/connexion">
                Se connecter
            </a>
        </div>
    </div>

    <%include ../partials/footer %>
</body>

</html>