<!DOCTYPE html>
<html lang="fr">

<head>
    <%include ../partials/head %>
</head>

<body>
    <%include ../partials/header %>
    <%include ../partials/userbar %>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#en_cours" class="mdl-tabs__tab is-active">En cours</a>
            <a href="#termines" class="mdl-tabs__tab">Terminés</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="en_cours">

            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Se déplacer à vélo</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Redécouvrez la ville : déplacez vous à vélo au lieu de prendre la voiture pour faire du sport de
                    façon agréable et réduire vos émissions de CO2 !
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Voir fiche défi
                    </a>
                </div>
                <div class="mdl-card__menu">
                    42
                    <i class="material-icons">person</i>
                </div>
            </div>

        </div>

        <div class="mdl-tabs__panel" id="termines">

            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Lundi Veggie</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Tentez de nouvelles expériences culinaires en (re)découvrant la cuisine végétarienne ou végétalienne
                    !
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Voir fiche défi
                    </a>
                </div>
                <div class="mdl-card__menu">
                    99
                    <i class="material-icons">person</i>
                </div>


            </div>
        </div>


        <%include ../partials/footer %>
</body>

</html>