<!DOCTYPE html>
<html lang="fr">

<head>
    <%include ../partials/head %>
</head>

<body>
    <%include ../partials/header %>

    <form action="/login" method="POST">
        <div class="mdl-grid">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name" name="name">
                <label class="mdl-textfield__label" for="name">Nom d'utilisateur</label>
            </div>
        </div>

        <div class="mdl-grid">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="password" name="password">
                <label class="mdl-textfield__label" for="password">Mot de passe</label>
            </div>
        </div>

        <div class="mdl-grid">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                type="submit">Connexion</button>
        </div>
    </form>

    <%include ../partials/footer %>
</body>

</html>