<!DOCTYPE html>
<html lang="fr">

<head>
    <%include ../partials/head %>
</head>

<body>
    <%include ../partials/header %>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tr>
            <th>ID</th>
            <th>Nom d'utilisateur</th>
            <th>Courriel</th>
            <th>Est admin</th>
            <th>Actions</th>
        </tr>
        <%- userlist %>
    </table>

    <%include ../partials/footer %>
</body>

</html>