<!DOCTYPE html>
<html lang="fr">

<head>
    <%include ../partials/head %>
</head>

<body>
    <%include ../partials/header %>

    <form action="/inscription_validation" method="POST">
        <div class="mdl-grid">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name" name="name" required>
                <label class="mdl-textfield__label" for="name">Nom d'utilisateur</label>
            </div>
        </div>

        <div class="mdl-grid">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" name="email" required>
                <label class="mdl-textfield__label" for="email">Courriel</label>
            </div>
        </div>

        <div class="mdl-grid">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="password" name="password" minlength="8"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9]).{8,}"
                    title="Doit contenir au moins 1 minuscule, une majuscule, un chiffre et un caractère spécial"
                    required>
                <label class="mdl-textfield__label" for="password">Mot de passe</label>
            </div>
        </div>

        <div class="mdl-grid">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                type="submit">Inscription</button>
        </div>
    </form>

    <%include ../partials/footer %>
</body>

</html>